In [158]:
import pandas as pd

esg_df = pd.read_csv('csv/esg/esg최종종목.csv')
esg_df.drop(columns=['시가총액','종목코드','시장구분'], inplace=True)
esg_df

,종목명,2011통합등급,2011환경,2011사회,2011지배구조,2012통합등급,2012환경,2012사회,2012지배구조,2013통합등급,...,2022지배구조,2023통합등급,2023환경,2023사회,2023지배구조,2024통합등급,2024환경,2024사회,2024지배구조,업종명
0,AK홀딩스,B이하,B,B이하,B이하,B이하,C,B이하,B+,B이하,...,B,A,A,A+,B+,A,A,A+,B+,기타금융
1,BYC,B이하,B,B이하,B이하,B이하,C,B이하,B이하,B이하,...,D,D,D,D,D,D,D,D,D,섬유의복
2,CJ,B이하,B+,B이하,NaN,B이하,B,B이하,B이하,B+,...,B+,A,A,A+,B+,A,A,A+,B+,기타금융
3,CJCGV,B이하,B,B이하,NaN,B이하,B,B이하,B이하,B이하,...,B+,A,A,A+,B+,A,A,A+,B+,서비스업
4,CJ대한통운,B+,B,B+,B이하,B이하,B,B+,B이하,B+,...,B,A,A,A+,B+,A,A,A+,B+,운수창고업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,스타리츠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,D,D,D,C,D,D,D,C,서비스업
904,아주스틸,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C,C,C,C,C,C,C,C,철강금속
905,에이리츠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C,D,D,B,C,D,D,B,서비스업
906,케이탑리츠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,D,D,D,D,D,D,D,D,서비스업
907,한컴라이프케어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C,C,B,D,C,C,B,D,의료정밀

In [159]:
# 해당 단어 포함된 컬럼 조회
esg_df.columns[esg_df.columns.str.contains('통합등급') == True]

Index(['2011통합등급', '2012통합등급', '2013통합등급', '2014통합등급', '2015통합등급', '2016통합등급',
       '2017통합등급', '2018통합등급', '2020통합등급', '2021통합등급', '2022통합등급', '2023통합등급',
       '2024통합등급'],
      dtype='object')

In [160]:
esg_df_1기 = esg_df.loc[:,['종목명', '업종명','2011통합등급', '2011환경', '2011사회', '2011지배구조', '2012통합등급', '2012환경',
                            '2012사회', '2012지배구조', '2013통합등급', '2013환경', '2013사회', '2013지배구조',
                            '2014통합등급', '2014환경', '2014사회', '2014지배구조', '2015통합등급', '2015환경',
                            '2015사회', '2015지배구조', '2016통합등급', '2016환경', '2016사회', '2016지배구조',
                            '2017통합등급', '2017환경', '2017사회', '2017지배구조', '2018통합등급', '2018환경',
                            '2018사회', '2018지배구조']]

esg_df_2기 = esg_df.loc[:,['종목명','업종명','2020통합등급', '2020환경', '2020사회', '2020지배구조',
                            '2021통합등급', '2021환경', '2021사회', '2021지배구조', '2022통합등급', '2022환경',
                            '2022사회', '2022지배구조', '2023통합등급', '2023환경', '2023사회', '2023지배구조',
                            '2024통합등급', '2024환경', '2024사회', '2024지배구조']]

환경_1기 = esg_df.loc[:,['종목명','업종명','2011환경', '2012환경', '2013환경', '2014환경', '2015환경', '2016환경', '2017환경', '2018환경']]
환경_2기 = esg_df.loc[:,['종목명','업종명','2020환경', '2021환경', '2022환경', '2023환경', '2024환경']]

사회_1기 = esg_df.loc[:,['종목명','업종명','2011사회', '2012사회', '2013사회', '2014사회', '2015사회', '2016사회', '2017사회','2018사회']]
사회_2기 = esg_df.loc[:,['종목명','업종명','2020사회', '2021사회', '2022사회', '2023사회', '2024사회']]

지배구조_1기 = esg_df.loc[:,['종목명','업종명','2011지배구조', '2012지배구조', '2013지배구조', '2014지배구조', '2015지배구조', '2016지배구조', '2017지배구조', '2018지배구조']]
지배구조_2기 = esg_df.loc[:,['종목명','업종명','2020지배구조', '2021지배구조', '2022지배구조', '2023지배구조', '2024지배구조']]

통합등급_1기 = esg_df.loc[:,['종목명','업종명','2011통합등급', '2012통합등급', '2013통합등급', '2014통합등급', '2015통합등급', '2016통합등급', '2017통합등급', '2018통합등급']]
통합등급_2기 = esg_df.loc[:,['종목명','업종명','2020통합등급', '2021통합등급', '2022통합등급', '2023통합등급', '2024통합등급']]

esg_df_1기

,종목명,업종명,2011통합등급,2011환경,2011사회,2011지배구조,2012통합등급,2012환경,2012사회,2012지배구조,...,2016사회,2016지배구조,2017통합등급,2017환경,2017사회,2017지배구조,2018통합등급,2018환경,2018사회,2018지배구조
0,AK홀딩스,기타금융,B이하,B,B이하,B이하,B이하,C,B이하,B+,...,B이하,B이하,B이하,B,B이하,B이하,B이하,C,B이하,B이하
1,BYC,섬유의복,B이하,B,B이하,B이하,B이하,C,B이하,B이하,...,B이하,B이하,B이하,B,B이하,B이하,B이하,B+,B이하,B이하
2,CJ,기타금융,B이하,B+,B이하,NaN,B이하,B,B이하,B이하,...,A,B+,A,A,A,B이하,A,A,A+,B이하
3,CJCGV,서비스업,B이하,B,B이하,NaN,B이하,B,B이하,B이하,...,B+,B이하,B이하,B+,B+,B이하,B+,A,B+,B이하
4,CJ대한통운,운수창고업,B+,B,B+,B이하,B이하,B,B+,B이하,...,A,A,B+,B+,B+,A,B+,B+,B+,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,스타리츠,서비스업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,아주스틸,철강금속,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,에이리츠,서비스업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,케이탑리츠,서비스업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
907,한컴라이프케어,의료정밀,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
df_list = [통합등급_1기, 환경_1기, 사회_1기, 지배구조_1기, 통합등급_2기, 환경_2기, 사회_2기, 지배구조_2기]
for df in df_list :
    print(df['종목명'].count())

908
908
908
908
908
908
908
908

In [168]:
import numpy as np
for df in df_list:
    df = df.apply(lambda x: x.replace('-',np.nan))
    # print(df['종목명'].count())
환경_2기

         종목명    업종명 2020환경 2021환경 2022환경 2023환경 2024환경
0      AK홀딩스   기타금융      C      B      B      A      A
1        BYC   섬유의복      D      D      D      D      D
2         CJ   기타금융      B     B+     B+      A      A
3      CJCGV   서비스업      B      B      B      A      A
4     CJ대한통운  운수창고업      A      A     B+      A      A
..       ...    ...    ...    ...    ...    ...    ...
903     스타리츠   서비스업    NaN    NaN    NaN      D      D
904     아주스틸   철강금속    NaN    NaN    NaN      C      C
905     에이리츠   서비스업    NaN    NaN    NaN      D      D
906    케이탑리츠   서비스업    NaN    NaN    NaN      D      D
907  한컴라이프케어   의료정밀    NaN    NaN    NaN      C      C

[908 rows x 7 columns]

In [172]:
환경_1기 = 환경_1기.dropna().reset_index(drop=True)
환경_2기 = 환경_2기.dropna().reset_index(drop=True)
사회_1기 = 사회_1기.dropna().reset_index(drop=True)
사회_2기 = 사회_2기.dropna().reset_index(drop=True)
지배구조_1기 = 지배구조_1기.dropna().reset_index(drop=True)
지배구조_2기 = 지배구조_2기.dropna().reset_index(drop=True)
통합등급_1기 = 통합등급_1기.dropna().reset_index(drop=True)
통합등급_2기 = 통합등급_2기.dropna().reset_index(drop=True)

In [180]:
q = pd.read_csv('201118_시가총액자산부채_Q.csv')
q.columns

Index(['Unnamed: 0', '종목명', '2011 Market Cap', '2012 Market Cap',
       '2013 Market Cap', '2014 Market Cap', '2015 Market Cap',
       '2016 Market Cap', '2017 Market Cap', '2018 Market Cap',
       '2019 Market Cap', '2020 Market Cap', '2021 Market Cap',
       '2022 Market Cap', '2023 Market Cap', '총부채_2011_x', '총부채_2012_x',
       '총부채_2013_x', '총부채_2014_x', '총부채_2015_x', '총부채_2016_x', '총부채_2017_x',
       '총부채_2018_x', '총자산_2011_x', '총자산_2012_x', '총자산_2013_x', '총자산_2014_x',
       '총자산_2015_x', '총자산_2016_x', '총자산_2017_x', '총자산_2018_x', '총자산_2019_x',
       '총부채_2011_y', '총부채_2012_y', '총부채_2013_y', '총부채_2014_y', '총부채_2015_y',
       '총부채_2016_y', '총부채_2017_y', '총부채_2018_y', '총자산_2011_y', '총자산_2012_y',
       '총자산_2013_y', '총자산_2014_y', '총자산_2015_y', '총자산_2016_y', '총자산_2017_y',
       '총자산_2018_y', '총자산_2019_y', '2011 tobinQ', '2012 tobinQ', '2013 tobinQ',
       '2014 tobinQ', '2015 tobinQ', '2016 tobinQ', '2017 tobinQ',
       '2018 tobinQ'],
      dtype='object')

In [176]:
환경_2기['종목명'] != q['종목명']

ValueError: Can only compare identically-labeled Series objects

## B+ 이하 B+로 대체

In [57]:
_e1 = pd.read_csv('csv/결측치제거/환경_1기_결측치제거.csv', index_col=0)
_e2 = pd.read_csv('csv/결측치제거/환경_2기_결측치제거.csv', index_col=0)
_s1 = pd.read_csv('csv/결측치제거/사회_1기_결측치제거.csv', index_col=0)
_s2 = pd.read_csv('csv/결측치제거/사회_2기_결측치제거.csv', index_col=0)
_g1 = pd.read_csv('csv/결측치제거/지배구조_1기_결측치제거.csv', index_col=0)
_g2 = pd.read_csv('csv/결측치제거/지배구조_2기_결측치제거.csv', index_col=0)
_t1 = pd.read_csv('csv/결측치제거/통합등급_1기_결측치제거.csv', index_col=0)
_t2 = pd.read_csv('csv/결측치제거/통합등급_2기_결측치제거.csv', index_col=0)

In [58]:
_e1[_e1.values == 'B+ 이하']

,종목명,2011환경,2012환경,2013환경,2014환경,2015환경,2016환경,2017환경,2018환경,종목코드,시장구분,업종명,시가총액
9,DB금융투자,B,B,C,B,A,B+,A,B+ 이하,16610.0,KOSPI,증권,1.740300e+11
10,DB손해보험,A,B+,B+,A+,A,A+,A,B+ 이하,5830.0,KOSPI,보험,6.605640e+12
35,다올투자증권,B+,B+,B+,B,C,B+,B+,B+ 이하,30210.0,KOSPI,증권,1.879110e+11
53,NH투자증권,A,A,B+,A,A,A+,A,B+ 이하,5940.0,KOSPI,증권,3.853960e+12
74,SK증권,B+,A,B+,B+,B+,A,A,B+ 이하,1510.0,KOSPI,증권,2.816640e+11
103,상상인증권,C,B,C,B,B,B,B,B+ 이하,1290.0,KOSPI,증권,7.583598e+10
108,교보증권,C,B,B,B,A,A+,A,B+ 이하,30610.0,KOSPI,증권,5.629770e+11
159,대신증권,A,A,A,B+,A,A,A,B+ 이하,3540.0,KOSPI,증권,7.676940e+11
199,한국금융지주,A,A,A,A,A,A+,A,B+ 이하,71050.0,KOSPI,기타금융,3.672340e+12
239,한양증권,B+,B+,B+,B,B+,B+,B+,B+ 이하,1750.0,KOSPI,증권,1.308490e+11
256,한화손해보험,B+,B+,B,B+,B,A,A,B+ 이하,370.0,KOSPI,보험,5.445870e+11
259,한화투자증권,B+,B,B+,B,B,A,A,B+ 이하,3530.0,KOSPI,증권,7.369720e+11
280,현대차증권,B,B,B,B,A,A,A,B+ 이하,1500.0,KOSPI,증권,2.743140e+11
301,흥국화재,C,B,B,B,B+,A+,A,B+ 이하,540.0,KOSPI,보험,2.608250e+11
318,동양생명,B+,B+,B+,B+,A,A+,B+,B+ 이하,82640.0,KOSPI,보험,8.552010e+11
381,부국증권,B,B,B,B,B,B+,B+,B+ 이하,1270.0,KOSPI,증권,2.499140e+11
402,삼성증권,A,A,A,A,A+,A+,A,B+ 이하,16360.0,KOSPI,증권,3.344290e+12
404,삼성카드,B+,B+,B,B+,A,A+,A,B+ 이하,29780.0,KOSPI,기타금융,4.373670e+12
405,삼성화재,A,A,A,A,A+,A+,A,B+ 이하,810.0,KOSPI,보험,1.423610e+13
472,신영증권,B+,B+,B+,B,B+,A,A,B+ 이하,1720.0,KOSPI,증권,6.255090e+11
524,우리금융지주,A,A+,A,A+,A+,A+,A,B+ 이하,316140.0,KOSPI,기타금융,1.050770e+13
543,유안타증권,B,B,B+,C,B,A,A,B+ 이하,3470.0,KOSPI,증권,5.399090e+11
547,유진투자증권,C,B+,B+,B,B+,A,A,B+ 이하,1200.0,KOSPI,증권,3.986050e+11
549,유화증권,B+,B,B,C,B+,B+,B+,B+ 이하,3460.0,KOSPI,증권,1.253120e+11
630,키움증권,B,B+,B+,B+,A,A,A,B+ 이하,39490.0,KOSPI,증권,3.435700e+12

In [60]:
_e1 = _e1.replace('B+ 이하', 'B+')
_e1[_e1.values == 'B+ 이하']

Empty DataFrame
Columns: [종목명, 2011환경, 2012환경, 2013환경, 2014환경, 2015환경, 2016환경, 2017환경, 2018환경, 종목코드, 시장구분, 업종명, 시가총액]
Index: []

In [67]:
_e1.to_csv('환경_1기.csv', encoding='utf-8-sig')

In [54]:
_s1[_s1.values == 'C']

Empty DataFrame
Columns: [종목명, 2011사회, 2012사회, 2013사회, 2014사회, 2015사회, 2016사회, 2017사회, 2018사회, 종목코드, 시장구분, 업종명, 시가총액]
Index: []

In [53]:
_s1

,종목명,2011사회,2012사회,2013사회,2014사회,2015사회,2016사회,2017사회,2018사회,종목코드,시장구분,업종명,시가총액
0,AK홀딩스,B이하,B이하,B이하,B이하,B이하,B이하,B이하,B이하,6840.0,KOSPI,기타금융,1.959310e+11
1,BYC,B이하,B이하,B이하,B이하,B이하,B이하,B이하,B이하,1460.0,KOSPI,섬유의복,2.464110e+11
2,CJ,B이하,B이하,A,A,A,A,A,A+,1040.0,KOSPI,기타금융,3.574180e+12
3,CJCGV,B이하,B이하,B이하,B+,B이하,B+,B+,B+,79160.0,KOSPI,서비스업,7.101060e+11
4,CJ대한통운,B+,B+,A,A,B+,A,B+,B+,120.0,KOSPI,운수창고업,2.817320e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,풀무원,A,B+,A,A,B+,A+,A,A,17810.0,KOSPI,음식료품,4.700260e+11
661,풍산,B이하,B이하,B이하,B이하,B이하,B이하,B이하,B+,103140.0,KOSPI,철강금속,1.670250e+12
662,풍산홀딩스,B이하,B이하,B이하,B이하,B이하,B이하,B이하,B+,5810.0,KOSPI,기타금융,4.188220e+11
663,KH필룩스,B이하,B이하,B이하,B이하,B이하,B이하,B+,B이하,33180.0,KOSPI,전기전자,1.205790e+11
664,하나금융지주,B+,A,B+,B+,B+,A,A,A,86790.0,KOSPI,기타금융,1.666430e+13

In [72]:
e1.isna().sum()

종목명       0
2012환경    0
2013환경    0
2014환경    0
2015환경    0
2016환경    0
2017환경    0
2018환경    0
종목코드      0
시장구분      0
업종명       0
시가총액      0
dtype: int64