In [1]:
import pandas as pd

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_39134/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [13]:
list_1 = pd.read_csv('csv/최종_1기_리스트(545).csv', index_col=0)
list_2 = pd.read_csv('csv/최종_2기_리스트.csv', index_col=0)

In [14]:
list_1['업종명'].value_counts()

업종명
화학             75
전기전자           44
기타금융           42
유통업            42
철강금속           40
서비스업           38
운수장비           37
의약품            33
기계             30
음식료품           26
섬유의복           21
건설업            18
운수창고업          17
증권             17
종이목재           16
비금속광물          12
기타제조업          10
보험              8
전기가스업           7
통신업             4
농업, 임업 및 어업     3
의료정밀            3
광업              1
은행              1
Name: count, dtype: int64

업종명
- 보험
- 증권
- 은행
- 'KB금융’, ’삼성카드’, '신한지주’, '하나금융지주’, '한국금융지주’

In [15]:
a = list_1.loc[(list_1['업종명'] != '보험') & (list_1['업종명'] != '증권') & (list_1['업종명'] != '은행')]
a.reset_index(drop=True, inplace=True)

In [30]:
list = ['KB금융', '삼성카드', '신한지주', '하나금융지주', '한국금융지주']
a = a[~a['종목명'].isin(list)].reset_index(drop=True)
a

        종목명    업종명
0     AK홀딩스   기타금융
1       BYC   섬유의복
2        CJ   기타금융
3     CJCGV   서비스업
4    CJ대한통운  운수창고업
..      ...    ...
509   효성ITX   서비스업
510      후성     화학
511     휴니드   전기전자
512     휴스틸   철강금속
513    흥아해운  운수창고업

[514 rows x 2 columns]

In [33]:
b = list_2.loc[(list_2['업종명'] != '보험') & (list_2['업종명'] != '증권') & (list_2['업종명'] != '은행')]
list = ['동원금속',
'대동전자',
'KB금융',
'JB금융지주',
'하나금융지주',
'오리엔트바이오',
 'DGB금융지주',
 'BNK금융지주',
 '한국토지신탁',
 '한국자산신탁',
 '한국금융지주',
 '우리금융지주',
 '신한지주',
 '삼성카드',
 '비케이탑스',
 '메리츠금융지주',
 '기신정기']

b = b[~b['종목명'].isin(list)].reset_index(drop=True)

In [35]:
b

         종목명    업종명
0      AK홀딩스   기타금융
1        BYC   섬유의복
2         CJ   기타금융
3      CJCGV   서비스업
4     CJ대한통운  운수창고업
..       ...    ...
687  화승코퍼레이션   운수장비
688    효성중공업   전기전자
689   효성첨단소재     화학
690    효성티앤씨     화학
691     효성화학     화학

[692 rows x 2 columns]

In [36]:
a.to_csv('최종_1기_리스트_금융업제외.csv')
b.to_csv('최종_2기_리스트_금융업제외.csv')