In [21]:
import pandas as pd

df = pd.read_csv('csv/종목명_수정.csv', index_col=0)
df2 = pd.read_csv('2기_통합등급.csv')

In [22]:
df2.columns

Index(['종목명', '2020통합등급', '2021통합등급', '2022통합등급', '2023통합등급', '2024통합등급',
       '종목코드', '시장구분', '업종명', '시가총액', '2021-2020통합등급차이', '2022-2021통합등급차이',
       '2023-2022통합등급차이', '2024-2023통합등급차이'],
      dtype='object')

In [23]:
최종_2기_목록 = df2.drop(columns=['2020통합등급', '2021통합등급', '2022통합등급', '2023통합등급', '2024통합등급',
       '종목코드','시장구분', '시가총액', '2021-2020통합등급차이', '2022-2021통합등급차이',
       '2023-2022통합등급차이', '2024-2023통합등급차이'])
최종_2기_목록

         종목명    업종명
0      AK홀딩스   기타금융
1        BYC   섬유의복
2         CJ   기타금융
3      CJCGV   서비스업
4     CJ대한통운  운수창고업
..       ...    ...
736  화승코퍼레이션   운수장비
737    효성중공업   전기전자
738   효성첨단소재     화학
739    효성티앤씨     화학
740     효성화학     화학

[741 rows x 2 columns]

In [24]:
최종_2기_목록.to_csv('최종_2기_리스트.csv')

In [25]:
df

        종목명
0     AK홀딩스
1       BYC
2        CJ
3     CJCGV
4    CJ대한통운
..      ...
553    텔코웨어
554     파미셀
555   평화홀딩스
556    진흥기업
557    인스코비

[558 rows x 1 columns]

In [26]:
_1기_목록 = pd.merge(df, 최종_2기_목록, on='종목명', how='left')
_1기_목록

        종목명    업종명
0     AK홀딩스   기타금융
1       BYC   섬유의복
2        CJ   기타금융
3     CJCGV   서비스업
4    CJ대한통운  운수창고업
..      ...    ...
553    텔코웨어   서비스업
554     파미셀    의약품
555   평화홀딩스   운수장비
556    진흥기업    건설업
557    인스코비    통신업

[558 rows x 2 columns]

In [27]:
_1기_목록.isna().sum()

종목명     0
업종명    12
dtype: int64

In [28]:
t = pd.read_csv('csv/esg/esg최종/통합1기_최종수정.csv', index_col=0)
e = pd.read_csv('csv/esg/esg최종/환경1기_최종수정.csv', index_col=0)
s = pd.read_csv('csv/esg/esg최종/사회1기_최종수정.csv', index_col=0)
g = pd.read_csv('csv/esg/esg최종/지배1기_최종수정.csv', index_col=0)

In [29]:
t = t[['종목명','업종명']]
e = e[['종목명','업종명']]
s = s[['종목명','업종명']]
g = g[['종목명','업종명']]

In [30]:
e['종목명']

0       AK홀딩스
1         BYC
2          CJ
3       CJCGV
4      CJ대한통운
        ...
555       풀무원
556        풍산
557     풍산홀딩스
558     KH필룩스
559    하나금융지주
Name: 종목명, Length: 559, dtype: object

In [31]:
s['종목명']

0       AK홀딩스
1         BYC
2          CJ
3       CJCGV
4      CJ대한통운
        ...
430       풀무원
431        풍산
432     풍산홀딩스
433     KH필룩스
434    하나금융지주
Name: 종목명, Length: 434, dtype: object

In [32]:
g['종목명']

0         AK홀딩스
1           BYC
2        CJ대한통운
3        CJ제일제당
4        DB손해보험
         ...
301    포스코인터내셔널
302         풀무원
303          풍산
304       KH필룩스
305      하나금융지주
Name: 종목명, Length: 305, dtype: object

In [33]:
a = pd.merge(e, t, how='outer')
b = pd.merge(a, s, how='outer')
c = pd.merge(b, g, how='outer')

In [34]:
c.to_csv('최종_1기_리스트.csv')

In [35]:
z = pd.read_csv('최종1기_545_종목명.csv')
z = pd.merge(c,z,on='종목명')

In [36]:
z.to_csv('최종_1기_리스트(545).csv')

In [39]:
roe = pd.read_csv('csv/roe.csv')
roe

        Symbol  Name  결산월   회계년      주기 ROE(영업이익)(%)
0      A005930  삼성전자   12  2011  Annual        16.41
1      A005930  삼성전자   12  2012  Annual        26.08
2      A005930  삼성전자   12  2013  Annual        27.10
3      A005930  삼성전자   12  2014  Annual        15.73
4      A005930  삼성전자   12  2015  Annual        15.22
...        ...   ...  ...   ...     ...          ...
11377  A071950   코아스   12  2020  Annual        -8.52
11378  A071950   코아스   12  2021  Annual       -21.69
11379  A071950   코아스   12  2022  Annual        -3.82
11380  A071950   코아스   12  2023  Annual       -21.13
11381  A071950   코아스   12  2024  Annual          NaN

[11382 rows x 6 columns]

In [43]:
roe_1기 = roe.loc[(roe['회계년'] >= 2011) & (roe['회계년'] <= 2018)]
roe_2기 = roe.loc[(roe['회계년'] >= 2020) & (roe['회계년'] <= 2024)]

roe_1기.reset_index(drop=True, inplace=True)
roe_2기.reset_index(drop=True, inplace=True)

In [ ]:
roe